[Unit]
Description=Run the eye daemon

[Service]
Type=forking
Environment=EYE_HOME=/usr/share/natar-utilities
ExecStart=/usr/bin/eye load /usr/share/natar-utilities/apps-enabled/
ExecStop=/usr/bin/eye quit

[Install]
WantedBy=default.target